@import "vars";
@import "fonts";
@import "restyle_bootstrap";
@import "dropd";
@import "form";

::-webkit-input-placeholder {
	color: lighten($text, 25%);
}
::-moz-placeholder {
	color: lighten($text, 25%);
}
:-ms-input-placeholder {
	color: lighten($text, 25%);
}
::-ms-input-placeholder {
	color: lighten($text, 25%);
}
::placeholder {
	color: lighten($text, 25%);
}
::-moz-selection {
	background-color: $accent;
	color: #fff;
}
::selection {
	background-color: $accent;
	color: #fff;
}
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
	height: 100%;
}

body {
	font-size: 16px;
	font-weight: 400;
	min-width: 320px;
	position: relative;
	font-family: $default;
	color: $text;
	overflow-x: hidden;
    background-color: rgb(245, 245, 245);
}

img, svg {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
}

input, button, textarea {
	outline: none;
	font-family: $default;
	&:focus {
		outline: none;
	}
}

input, textarea {
	padding: 10px;
}

textarea {
	resize: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	@extend.animate;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
h1, h2, h3, h4 {
	font-weight: inherit;
}

.animate {
    transition: background 150ms ease 0s, color 150ms ease 0s, border 150ms ease 0s;
}

.gray-color {
  color: $gray;
}

.info-block {
  padding: 2.5em;
  background: rgb(255, 255, 255);
  border-radius: 1em;
  font-size: 16px;
  .title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  .intro {
    font-size: 0.875em;
    margin-bottom: 1.5em;
    color: $gray;
    line-height: 1.14286em;
  }
  .video-svg {
    fill: $text;
    font-size: 0.875em;
    height: 1em;
  }
  .click-here {
    color: rgb(240, 185, 11);
    margin-top: 1.14286em;
    font-size: .875em;
    &:hover {
      color: rgb(248, 209, 47);
    }
  }
  .hexagon-wrapper {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.main-block {
  padding: 2.5em 5em;
  background: rgb(255, 255, 255);
  border-radius: 1em;
  font-size: 16px;
  .daily-limit {
    color: $gray;
    font-size: .75em;
  }
  .progress {
    height: 0.5em;
    width: 5.66667em;
    margin: .5em auto 5em;
  }
  .add-network {
    font-size: .75em;
    margin-bottom: 1.5em;
  }
  .you-will-receive {
    font-size: .75em;
    margin-bottom: 2em;
    span {
      margin-right: 5px;
    }
    img {
      margin-right: 5px;
      width: 1.5em;
      height: 1.5em;
    }
  }
}




.single-img {
  margin-right: 0.5em;
  img {
    width: 2em;
    height: 2em;
  }
}

.option-desciption {
  .option-symbol {
    font-size: 1em;
    color: rgb(30, 32, 38);
    font-weight: bold;
    line-height: normal;
  }
  .option-name {
    font-size: 0.857143em;
    color: rgb(118, 128, 143);
    font-weight: 400;
    line-height: normal;
  }
}

.select-asset {
  cursor: pointer;
  position: relative;
  margin-bottom: 1.5em;
  padding: .5em 1.5em .5em 1em;
  background: $bg;
  border-radius: 8px;
  &:after {
    position: absolute;
    content: url("../img/right-arrow.svg");
    width: 10px;
    height: 10px;
    display: inline-block;
    right: 1em;
    top: 50%;
    margin-top: -12px;
  }
  .option-img {
    margin-right: 0.571429em;
    img {
      width: 16px;
      height: 16px;
      float: left;
    }
  }
  .option-lable {
    font-size: .875em;
  }
}

.modal-content-wrapper {
  padding: 1em;
  font-size: 14px;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
  button.active {
    &:before {
      position: absolute;
      content: url("../img/check-icon.svg");
      width: 12px;
      height: 12px;
      display: inline-block;
      right: 1em;
      top: 50%;
      margin-top: -12px;
    }
  }
  button {
    position: relative;
    padding: 1.14286em 0.857143em;
    height: auto;
    margin: 0;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(230, 232, 234);
    border-image: initial;
    outline: none;
    text-decoration: none;
    background: transparent;
    background-color: white;
    &:first-child {
      border-radius: 1em 1em 0 0;
    }
    &:last-child {
      border-radius: 0 0 1em 1em;
    }


    .title-suspended {
      font-size: .75em;
    }
    &:hover {
      background-color: rgba(240, 185, 11, 0.06);
    }
  }
}

@import "media"; /* Always at the end*/
